     {% block header %}
    <div class="myheader">
   
    <nav class="navbar-inverse">
        <div class="">
            <div class="navbar-header">
                <a class="navbar-brand" style="font-size: 35px;" href="#">CrazyKart</a>
            </div>
            <ul class="nav navbar-inverse">
                <li class="active" ><a class="linksize" href="#">Home</a></li>
                <li><a class="linksize" href="#Prodects">Prodects</a></li>
                <li><a class="linksize" href="#Gallery">Gallery</a></li>
                <li><a class="linksize" href="#About">About</a></li>
                <li><a class="linksize" href="#login">Login</a></li>
                <li><a class="linksize" href="#Singup">Signup</a></li>
            </ul>
        </div>
    </nav>
    
    </div>
     {% endblock %}
